body {
    margin: 0;
    padding: 0;
    font-family: "Manrope";
    color: black;
    user-select: none; 
}
/* 
.upbutton {
    position: fixed;
    bottom: 1em;
    right: 1em;
    width: 3em;
    height: 3em;
    background: #444;
    color: white;
    z-index: 2;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.3);
} */

.introwrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background: whitesmoke;
    height: 100%;
    box-sizing: border-box;
}

.float {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    animation: floatUp 0.5s ease-out forwards;
}

@keyframes floatUp {
    from {top: 3em; opacity: 0;}
    to {top: 0em; opacity: 1;}
}

.hero {
    font-size: 4.5em;
    font-weight: 700;
    font-family: "DM Sans";
    color: crimson;
    letter-spacing: -0.06em;
    text-align: center;
}

.introtext {
    font-weight: 400;
    font-size: 1.5em;
    line-height: 1em;
    margin-bottom: 0.5em;
    text-align: center;
}

.name {
    /* font-family: "DM Sans"; */
    color: royalblue;
    font-weight: 700;
    letter-spacing: -0.06em;
}

.navbar .name {
    font-size: 1.25em;
}

.profile {
    height: 7em;
    width: 7em;
    border-radius: 50%;
    align-self: center;
    animation: fadeIn 1s linear forwards;
}

.navbar {
    display: none;
}

.mobilenavbar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(240, 240, 240);
    box-sizing: border-box;
    padding-left: 2em;
    padding-right: 2em;
}

.navbarcontent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 25em;
    max-width: 25em;
}

.navbarcontent > div {
    cursor: pointer;
    font-family: "DM Sans";
}

.navbarcontent a {
    text-decoration: none;
    color: inherit;
}

.introwrapper,
.aboutwrapper,
.contentwrapper,
.toolswrapper,
.contactwrapper {
    padding: 2em;
}

.aboutwrapper,
.contentwrapper,
.toolswrapper,
.contactwrapper {
    opacity: 0;
    animation: fadeIn 0.5s linear 0.5s forwards;
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

.aboutwrapper {
    height: 100%;
    background: royalblue;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.aboutwrapper h1 {
    color: white;
}

.project {
    padding-bottom: 1em;
}

.project + .project {
    border-top: 5px solid royalblue;
    margin-top: 2em;
}

.emoji {
    margin-right: 0.5em;
}

h1 {
    font-family: "DM Sans";
    margin-bottom: 0;
    font-size: 1.25em;
    color: crimson;
}

h2 {
    line-height: 1em;
    font-weight: 400;
    color: royalblue;
}

h3 {
    font-size: 0.9em;
    font-weight: 600;
    margin-top: 0em;
    margin-bottom: 0.5em;
}

.task {
    background: #444;
    color: white;
    border-radius: 1em;
    font-size: 0.75em;
    padding: 0.25em 1em;
    font-weight: 600;
    margin-bottom: 0.5em;
    margin-right: 0.25em;
    display: inline-flex;
    align-items: center;
}

.credit {
    font-size: 0.8em;
    color: gray;
    margin-bottom: 0.5em;
}

.emphasis {
    font-weight: 600;
}

iframe {
    width: 100%;
    border-radius: 0.5em;
    border: 1px solid gray;
}

audio {
    margin-bottom: 0.5em;
    border-radius: 0.5em;
    width: 100%;
}

.toolswrapper {
    /* background: whitesmoke; */
    border-top: 1px solid lightgray;
}

.contactwrapper {
    background: whitesmoke;
}

ul {
    list-style: none;
    padding: 0;
    margin-left: 1em;
    margin-bottom: 2em;
}

ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5em;
}

/*GALLERY*/
.gallery {
    width: 100%;
    margin-bottom: 2em;
}

.gallery .images {
    height: 20em;
    width: 100%;
    margin-bottom: 0.5em;
    border-radius: 0.5em;
    overflow: hidden;
    border: 1px solid lightgray;
    background: whitesmoke;
    display: flex;
    align-items: center;
}

.gallery .images.long {
    height: 35em;
}

.gallery img {
    width: 100%;
    height: 100%;
    display: none;
    animation: fadeIn 0.5s forwards;
    object-fit: contain;
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

.gallery img.active {
    display: block;
}

.gallery .buttons {
    width: 100%;
    display: flex;
    justify-content: center;
}

.gallery .button {
    background: lightgray;
    width: 0.75em;
    height: 0.75em;
    border-radius: 50%;
    cursor: pointer;
    transition: background 0.5s;
}

.gallery .button.active {
    background: crimson;
}

.gallery .button + .button {
    margin-left: 0.5em;
}

 /* Small devices (portrait tablets and large phones, 600px and up) */
 @media only screen and (min-width: 600px) {
    body {
        display: flex;
        justify-content: center;
    }

    .introwrapper {
        height: auto;
        padding-top: 6em;
        padding-bottom: 3em;
        background: transparent;
    }

    .aboutwrapper {
        height: auto;
        border-radius: 0.5em;
    }

    .mobilenavbar {
        display: none;
    }

    .navbar {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 4em;
        display: flex;
        justify-content: center;
        align-items: center;
        background: white;
        box-sizing: border-box;
        padding-left: 2em;
        padding-right: 2em;
        z-index: 999;
    }

    .navbarcontent {
        width: 35em;
        max-width: 35em;
    }

    .megawrapper {
        width: 30em;
        max-width: 30em;
    }
    
    .contactwrapper {
        margin-bottom: 5em;
        border-radius: 0.5em;
    }
 }
 
 /* Medium devices (landscape tablets, 768px and up) */
 @media only screen and (min-width: 768px) {
    body {
        font-size: 1.125em;
    }
 }
 
 /* Large devices (laptops/desktops, 992px and up) */
 @media only screen and (min-width: 992px) {
    
 }
 
 /* Extra large devices (large laptops and desktops, 1200px and up) */
 @media only screen and (min-width: 1200px) {
    body {
        font-size: 1.25em;
    }
 } 